

@font-face {
  font-family: 'BebasNeue-Regular';
  src: local('BebasNeue-Regular'),
       url('/fonts/BebasNeue-Regular.ttf') format("truetype");
}

/*--------------------------------------------*/


.navlinks{
  list-style: none;
}

.navlinks a{
  color: lightgreen;
  text-decoration: none;
  font-family: BebasNeue-Regular;
  /*font-size: 17px;*/
  text-align: center;
  font-size:1.7vw;
}

.navlinks a:hover{
  color: rgb(149,255,0);
}

/*
.navlinks a.active{

}
*/

/*--------------------------------------------*/


.sidebar-container {
  top: 0em;
  z-index: 1;
  background: rgb(42,69, 192 );
  height: 100%;
  min-width: 18em;
  padding: 1em;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
}

input:checked ~ .sidebar-container {
  transform: none;
}

.sidebar-manager {
  position: fixed;
  z-index: 2;
  height: 100%;
}

html {
  background-color: #eee;
}

body {    /*var ad fikta*/
  margin: 0;
  min-height: 100%;
}

.main-content {   /*Þetta er mikilvaegt*/
  min-width: 32em;
  max-width: 75rem;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  padding-top: 0.05px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #fff;
  /*overflow: hidden;*/
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: small;
  display: flex;
}

.footer_element {
  flex-grow: 1;
}

/*
header {
  text-align: center;
}*/




/*--------------- header thingy-----------------*/

header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0em;
  z-index: 1; /*var 1*/
  background-color: rgb(42,69, 192 );
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 1em;
}

.header_element {
  flex-grow: 1;
  margin: 0em 1em;
}
.header_element a:link {
  color: white;
  text-decoration: none;
}

.header_element a:visited {
  color: white;
  text-decoration: none;
}


.header_element.a:visited {
  color: white;
  text-decoration: none;
}

/*------------temp things---------*/

.menu-burger {
  /*position: absolute; /*var absolute tharf ad messa i fyrir sticky header liklegast*/
  position: absolute;
  /*left: 50px; VAR AÐ REYNA repositiona hvar eg get haft borgarann sjalfann an einhvers results.........*/
  /*font-size: 30px; /* mikilvaegt fyrir font size */
  font-size:1.7vw; /*aetti að vera með reactive font sem breytir staerd*/
}

input.menu-burger  {
  height: 32px;
  margin: 0;
  opacity: 0;
  width: 32px;
  z-index: 3;
}

svg.menu-burger  {
  height: 32px; /*og 32px (breytir straerd a hamburger)*/
  width: 32px;
  z-index: 2;
}

ul.menu-burger__item-list {
  background: rgb(42,69, 192 );/*#ebdbb2;*/
  /*bottom: 0;*/
  color: #3c3836;
  list-style: none;
  margin: 0;
  padding: 32px;
  top: 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
  width: 300px;
  
  z-index: 1;
  text-align: left;
  padding-top: 10%;/*til ad messa i hvar fontid er i menuinu*/
}

input:checked ~ .menu-burger__item-list {
  transform: none;
}

input.menu-burger:checked ~ svg line {
  stroke: #3c3836;
}

svg.menu-burger line:nth-of-type(1) {
  transform-origin: center 6px;
}

svg.menu-burger line:nth-of-type(2) {
  transform-origin: center 12px;
}

svg.menu-burger line:nth-of-type(3) {
  transform-origin: center 18px;
}

svg.menu-burger line {
  transition-duration: 0.5s;
  transition-property: stroke, opacity, transform;
  transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
}

input.menu-burger:checked ~ svg line:nth-of-type(2) {
  opacity: 0;
  transform: scale(0.2);
}

input.menu-burger:checked ~ svg line:nth-of-type(1) {
  transform: translate(0, 6px) rotate(45deg);
}

input.menu-burger:checked ~ svg line:nth-of-type(3) {
  transform: translate(0, -6px) rotate(-45deg);
}
