{% extends "main.html" %}
{% load i18n %}

{% block body %}

<h3>
    {% blocktranslate trimmed%}
        <b>Myntsafnarafélag Íslands</b> er öflugur vettvangur safnara á Íslandi. Ef þú safnar t.d. mynt,
        seðlum, tunnumerkjum, einkagjaldmiðlum, minnispeningum, einkennismerkjum,
        prjónmerkjum, orðum, hlutabréfum, póstkortum eða öðru forvitnilegu, er MÍ rétti
        félagsskapurinn fyrir þig. Innan MÍ eru áhugasamir safnarar á öllum þessum og ótal fleiri
        sviðum. Allir hjartanlega velkomnir. 
    {% endblocktranslate %}
</h3>

<h1>
    {% translate "Stjórn Myntsafnarafélags Íslands 2024" %}
</h1>
<ul>
    <li>Eiríkur J. Líndal, formaður</li>
    <li>Alfreð S. Erlingsson, ritari</li>
    <li>Magnus Waage, gjaldkeri</li>
    <li>Freyr Jóhannesson, meðstjórnandi</li>
    <li>Helgi E. Jónsson, meðstjórnandi</li>
</ul>

<h1>
    {% translate "Skoðunarmenn reikninga" %}
</h1>
<ul>
    <li> Gunnlaugur F. Gunnarsson </li>
</ul>

<h1>
    {% translate "Uppstillingarnefnd, skipuð af stjórn" %}
</h1>
<ul>
    <li>Tryggvi Ólafsson</li>
</ul>


<h1>{% translate "Uppboðsnefnd, skipuð af stjórn" %}</h1>
<ul>
    <li>Freyr Jóhannesson</li>
    <li>Helgi E. Jónsson</li>
    <li>Alfreð S. Erlingsson</li>
</ul>

{% blocktranslate trimmed %}
Félagsmenn geta lagt inn muni á mánaðarleg uppboð félagsins. Fjölbreytt efni er boðið upp
á hverju uppboði. Ástand muna getur verið á ýmsa vegu, frá því að vera mikið notað og til að
vera alveg ónotað.
{% endblocktranslate %}

<br>

{% translate "Ef að félagar MÍ vilja selja muni á uppboðum félagsins er þeim bent á að hafa samband viðuppboðsnefndina:" %}
<ul>
    <li>Alfreð S. Erlingsson, sími: 695-2866</li>
    <li>Freyr Jóhannesson, sími: 864-1529</li>
    <li>Helgi E. Jónsson, sími: 821-9696</li>
</ul>

{% blocktranslate trimmed %}
Einnig er hægt að senda póst á netfangið:

<a href="mailto:myntsafnarafelagid@gmail.com">myntsafnarafelagid@gmail.com</a>
og spyrjast fyrir. Öllum póstum er svarað.

{% endblocktranslate %}

<br>
{% blocktranslate trimmed %} 
Þeir sem vilja koma einhverju á framfæri í blaðið Mynt er bent á að senda póst á netfangið:
<a href="mailto:myntsafnarafelagid@gmail.com">myntsafnarafelagid@gmail.com</a>
{% endblocktranslate %}


<h1>{% translate "Fyrrum formenn MÍ, gjaldkerar og ritarar" %}</h1>
<h2>{% translate "Formenn:" %}</h2>
<ul>
    <li>Helgi Jónsson (1969-1972)</li>
    <li>Halldór Helgason (1972-1973)</li>
    <li>Ragnar Borg (1973-1976)</li>
    <li>Indriði Indriðason (1976-1977)</li>
    <li>Ragnar Fjalar Lárusson (1977-1979)</li>
    <li>Anton Holt (1979-1981)</li>
    <li>Freyr Jóhannesson (1981-1983)</li>
    <li>Ragnar Borg (1983-1984)</li>
    <li>Anton Holt (1984-1987)</li>
    <li>Árni Frimannsson (1987-1989)</li>
    <li>Anton Holt (1989-1994)</li>
    <li>Freyr Jóhannesson (1994-2000)</li>
    <li>Sveinn Grímsson (2000-2003)</li>
    <li>Anton Holt (2003-2010)</li>
    <li>Freyr Jóhannesson (2010-2014)</li>
    <li>Eiríkur J. Líndal (2014- )</li>
</ul>

<h2>{% translate "Ritarar" %}</h2>
<ul>
    <li>Sigurður Þorláksson (1969-1970)</li>
    <li>Hjálmar Hafliðason (1970-1974)</li>
    <li>Björn Benediktsson (1974-1976)</li>
    <li>Tryggvi Ólafsson (1976-1982)</li>
    <li>Axel Clausen (1982-1984)</li>
    <li>Tryggvi Ólafsson (1984-1994)</li>
    <li>Kristinn Sigurðsson (1994-2001)</li>
    <li>Jón Pétursson (2001-2002)</li>
    <li>Guðmundur Þórðarson (2002-2004)</li>
    <li>Jón Pétursson (2004-2005)</li>
    <li>Guðmundur Þórðarson (2005-2007)</li>
    <li>Eiríkur J. Líndal (2007-2014)</li>
    <li>Guðmundur Þórðarson (2014-2022)</li>
    <li>Alfreð S. Erlingsson (2022- )</li>
</ul>
<h2>{% translate "Gjaldkerar" %}</h2>
<ul>
    <li>Sigurjón Sigurðsson (1969-1971)</li>
    <li>Freyr Jóhannesson (1971-1977)</li>
    <li>Jón Guðbjörnsson (1977-1993)</li>
    <li>Sveinn Grímsson (1993-2000)</li>
    <li>Garðar Schiöth (2000-2002)</li>
    <li>Ásgeir Sigurðsson (2002-2004)</li>
    <li>Sveinn Grímsson (2004-2017)</li>
    <li>Benedikt Sæmundsson (2017-2019)</li>
    <li>Magnus Waage (2019- )</li>
</ul>

<h2>{% translate "Heiðursfélagar Myntsafnarafélags Íslands" %}</h2>
<ul>
    <li>Pétur Hoffmann Salómonsson (1977)</li>
    <li>Helgi Jónsson (1982)</li>
    <li>Ella Einarsson (1982)</li>
    <li>John Chr. Holm (1983)</li>
    <li>Indriði Indriðason (1988)</li>
    <li>Guðmundur Jónsson (1990)</li>
    <li>Jón Guðbjörnsson (1993)</li>
    <li>Guðbjartur Ólason (1997)</li>
    <li>Freyr Jóhannesson (2012)</li>
    <li>Baldvin Halldórsson (2012)</li>
</ul>

<h1>{% translate "Minnispeningar Myntsafnarafélags Íslands (Útgáfuár og tilefni útgáfu)" %}</h1>
<ul>
    <li>{% translate "1979: 10 ára afmæli MÍ." %}</li>
    <li>{% translate "1989: 20 ára afmæli MÍ og þing Norræna myntsambandsins í Reykjavík." %}</li>
    <li>{% translate "1994: 25 ára afmæli MÍ." %}</li>
    <li>{% translate "1997: Sýning MÍ í Hafnarborg." %}</li>
    <li>{% translate "2003: Þing Norræna myntsambandsins í Reykjavík." %}</li>
    <li>{% translate "2009: 40 ára afmæli MÍ." %}</li>
    <li>{% translate "2012: Sýning MÍ í Norræna húsinu." %}</li>
    <li>{% translate "2019: 50 ára afmæli MÍ og sýning í sal Ferðafélags Íslands." %}</li>
</ul>

{% endblock %}