{% extends "main.html" %}
{% load i18n %}

{% block body %}


<h1>{% translate "Víðfeðmur og frjór vettvangur safnara" %}</h1>

<p> {% blocktranslate trimmed%}
    Á sjöunda áratugi seinustu aldar jókst verulega áhugi á mynt-og seðlasöfnun hérlendi. Þá
    höfðu ýmsir safnarar - sem enginn hafði auðvitað nákvæma tölu á - fengist við að grúska í
    faginu hver í sínu horni, árum og jafnvel áratugum saman, og haft lítil eða engin samskipti
    sín á milli. Hluti af skýringunni á þessum aukna áhuga kann að vera nýjar útgáfur gjaldmiðla
    frá Landsbanka Íslands-Seðlabankanum árið 1960 og nýjar útgáfu Seðlabanka Íslands næstu
    ár á eftir. Umfjöllun um söfnun varð tíðari í fjölmiðlum og má í því sambandi til dæmis benda
    á áberandi viðtal í dagblaðinu Vísi sumarið 1961 við lögreglumanninn Ólaf Guðmundsson,
    sem blaðið titlaði „mesta peningasafnara á Íslandi.“
{% endblocktranslate %}</p>

<h2>{% translate "Áhugi vex og umfjöllun" %}</h2>

<p> {% blocktranslate trimmed%}
    Samfara auknum áhuga og skrifum fjölgaði söfnurum, og fyrirtæki sem áður höfðu einungis
    þjónað frímerkjasöfnurum hófu að selja albúm fyrir mynt og seðla, verðlista og fleira í sama
    dúr. 

    Einstaklingar, þar á meðal verslunarmaðurinn Sigurður Þ. Þorláksson, hófu að auglýsa í
    blöðum eftir íslenskri mynt, seðlum, brauðpeningum og fleiri gjaldmiðlum sem notaðir
    höfðu verið hér á landi í gegnum tíðina. Þá vakti nokkra athygli almennings þátttaka Helga
    Jónssonar, húsgagnasmiðs, í myntsýningu í Austur-Þýskalandi árið 1968, en þar fékk hann
    bronsverðlaun fyrir safn sitt. Hann mun hafa verið fyrsti Íslendingurinn sem tók þátt í
    myntsýningu.

{% endblocktranslate %}</p>
<h2>{% translate "Safnarar byrja að bollaleggja um félag" %}</h2>

<p> {% blocktranslate trimmed%}
    Þegar leið á seinni hluta áratugarins hóf náinn og þröngur hópur manna sem kom regulega
    saman á kaffihúsum Reykjavíkur að ræða sífellt oftar að þörf væri á að stofna sérstakt félag
    til að tengja alla þá einstaklinga hérlendis sem væru byrjaðir að safna. Í þeirra hópi voru t.d.
    fyrrnefndur Sigurður og Snær Jóhannesson, bókbindari og síðar fornbókasali, og frændi
    hans, Indriði Indriðason, rithöfundur og ættfræðingur.
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}
Þann 15. ágúst 1968 birtust bæði í dagblöðunum Þjóðviljanum og Alþýðublaðinu fréttir um
að ákveðið hefði verið að stofna „Félag íslenskra myntsafnara, eða klúbb, ef næg þátttaka
fæst.“ Markmiðið með slíku framtaki væri að „vinna að úrlausn vandamála þeirra sem safna
mynt, seðlum, minnispeningum o. fl. þessháttar.“ Nær samhljóða fréttir birtust í öðrum
helstu dagblöðum landsins síðar í sama mánuði. Að baki þessum skrifum stóð
verslunarmaðurinn fyrrnefndi, Sigurður Þ. Þorláksson, og voru þeir sem höfðu áhuga á að
taka þátt í stofnun slíks félags beðnir um að senda nöfn sín og heimilisföng til heimilis hans á
Fornhaga, eða hringja í uppgefið símanúmer.
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}
Snemma hausts mæltu nokkrir áhugamenn sér tvívegis mót í kaffihúsinu Café Höll við
Austurstræti til að ræða nánar um stofnun félags um mynt- og seðlasöfnun og semja drög að
lögum fyrir slíkan félagsskap: „Voru þar mættir flestir þeir er kosnir voru á stofnfundi til
starfa fyrir félagið, ásamt fleirum,“ segir Indriði í grein sem hann skrifaði í tilefni af tíu ára
afmæli félagsins.
{% endblocktranslate %}</p>

<h2>{% translate "Þrjátíu boðaðir á sérstakan stofnfund" %}</h2>

<p> {% blocktranslate trimmed%}
    Í framhaldi af þessum undirbúningi var efnt til stofnfundar 19. janúar 1969. Í fundargerð
    segir m.a. að þann dag „boðuðu nokkrir áhugamenn um myntsöfnun og myntfræðileg efni,
    til fundar í Norræna húsinu í Reykjavík. Fundarefni var félagsstofnun um hagsmuna- og
    áhugamál safnara. Á fundinn voru boðaðir 30 menn og mættu allir nema einn, sem þó sendi
    inn inntökubeiðni í væntanlegt félag.“
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}
    Eftir að búið var að tilnefna fundarstjóra og fundarritara tók Sigurður til máls og sagði að
    ástæðan fyrir því að kalla aðeins saman valda menn en ekki auglýsa fundinn fyrirfram hafi
    verið sú að menn hefði talið það geta valdið töfum á stofnun félagsins „ef menn sem ekki
    hefðu innsýn í málefni myntsafnara mættu á þessum fundi.“ Hann tók hins vegar fram að
    allir sem þess óskuðu gætu gerst stofnfélagar fyrir 1. mars. Og Sigurður bætti við að
    „væntanlegt félag gæti unnið þrekvirki, bæði sem fjárhagsleg samtök um hagsmuni félagsins
    og ekki síður með því að skrá sögu Myntfræði Íslands, en slíkt væri annars illmögulegt –
    félagsmenn yrðu að vinna þar allir sem einn og án aðstoðar félagsmanna mundi það ganga
    hægt.“ Stungið var upp á ýmsum nöfnum á félagið en það eina sem fékk hljómgrunn var
    uppástunga Indriða og var samþykkt samhljóða; að félagið skyldi heita Myntsafnarafélag
    Íslands.
{% endblocktranslate %}</p>


<h2>{% translate "„Að efla og glæða áhuga á myntsöfnun almennt“" %}</h2>

<p> {% blocktranslate trimmed%}

    Á hinum formlega stofnfundi í Norræna húsinu 19. janúar 1969 lýsti Sigurður aðdraganda
    framtaksins og fyrirsjáanlegum verkefnum félagsins. Ljóst var að markmið stofnenda voru
    metnaðarfull og ekki tjaldað til einnar nætur: „Tilgangur félagsins er að styðja og efla sem
    fræðigrein myntsöfnun í þeim skilningi sem á alþjóðamáli er lagt í orðið NUMISMATIC, þ.e.
    myntfræði. Þar undir heyrir mynt, pappírspeningar, minnispeningar (Medals) og einkamynt
    (Tokens). Að efla og glæða áhuga á myntsöfnun almennt og að gagnkvæmum kynnum og
    viðskiptum sé komið á milli félagsmanna, og þau efld. Tilgangi sínum hyggst félagið ná með
    upplýsingum og útgáfustarfsemi, sýningum, fyrirlestrum, fræðslu og kynningarfundum,
    viðskipta- og uppboðsfundum. Einnig með sameiginlegum innkaupum á því sem að söfnun
    og félagsstarfinu tilheyrir. Eitt af fyrstu verkefnum félagsins er að safna gögnum í Myntsögu
    Íslands og útgáfu handbókar um sama efni. Myntsaga Íslands er í algjörum rústum og verður
    að leita gagna heimsálfa á milli til að hægt sé að fullgera slíkt verk.“
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}

    
    Í fyrstu stjórn MÍ voru kosnir Sigurður Þ. Þorláksson, verslunarmaður, Sigurjón Sigurðsson,
    kaupmaður og Ólafur Guðmundsson, lögreglumaður. Varamenn voru Helgi Jónsson,
    húsgagnasmiður og Snær Jóhannesson, bókbindari. Endurskoðendur voru kosnir Vilhjálmur
    Vilhjálmsson, verslunarmaður, og Indriði Indriðason, ættfræðingur.
{% endblocktranslate %}</p>


<h2>{% translate "Vaskur frumkvöðlahópur" %}</h2>

<p> {% blocktranslate trimmed%}

    Ýmsar fréttir birtust í dagblöðum stofnun hins nýja félags næstu vikur, þar á meðal áberandi
    frétt á baksíðu Morgunblaðsins, sem vafalaust hafa vakið áhuga margra á að ganga til liðs við
    þennan vaska frumkvöðlahóp. Í mars var síðan haldinn „kynningar- og skiptifundur“ á Café
    Höll og „skiptifundur“ á sama stað tveimur vikum síðar, og á þeim báðum voru nýir félagar
    boðnir velkomnir.
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}

    Á fyrsta formlega stjórnarfundi MÍ, 11. júní 1969, baðst Ólafur undan stjórnarsetu og tók
    Helgi sæti í hans stað. Þá skipti stjórn með sér verkum og varð Helgi Jónsson þar með fyrsti
    formaður stjórnar Myntsafnarafélags Íslands, Sigurður Þ. Þorláksson ritari og Sigurjón
    Sigurðsson gjaldkeri. Þess má geta að lengi vel var á vegum stjórnar sérstakt embætti sem
    kallaðist „erlendur bréfritari“, en þeir sem báru þann virðulega titil svöruðu bréfum og
    fyrirspurnum frá myntsöfnurum víða um heim og önnuðust helstu samskipti við erlend félög
    á sama sviði, myntkaupmenn ytra o.s.frv. Þegar litið er yfir formenn félagsins frá upphafi sést
    að Anton Holt, myntfræðingur, gegndi þeirri stöðu alls fjórum sinnum, í samtals sautján ár,
    Freyr Jóhannesson, byggingatæknifræðingur, alls þrisvar sinnum, í samtals tólf ár, en lengst
    samfleytt hefur setið núverandi formaður, Eiríkur J. Líndal, sálfræðingur, sem tók við því
    embætti árið 2014.
{% endblocktranslate %}</p>


<h2>{% translate "Safnarar í Garði Hins Himneska friðar" %}</h2>

<p> {% blocktranslate trimmed%}

    Um haustið færðist starfsemin upp í veitingastaðinn Hábæ efst á Skólavörðuholti og var
    auglýst í blöðum að fundirnir yrðu haldnir í „Garði hins Himneska friðar“, en þannig háttaði
    að Hábær hafði tjaldað yfir bakgarð staðarins og voru þar kínverskar skreytingar í öndvegi.
{% endblocktranslate %}</p>
<p> {% blocktranslate trimmed%}

    Félagið tók til óspilltra málanna, kom á skiptifundum fyrir safnara, keypti erlenda mynt og
    bæði erlenda og íslenska minnispeninga. Félagið gaf einnig út verðlista fyrir íslenska mynt og
    lagði grundvöll að myntsafni fyrir félagið. Í janúar 1970 var haldin sýningin „Við unga fólkið“ í
    Tónabæ, þar sem ýmis félög og samtök kynntu starfsemi sína. Þar á meðal MÍ, sem
    sameinaðist um einn sýningarbás ásamt Félagi frímerkjasafnara og Taflfélagi Reykjavíkur og
    höfðu félagsmenn MÍ sett þar upp sýningarborð með mynt frá ýmsum tímum, bæði
    innlendri og erlendri. Þegar félagið fagnaði árs afmæli sínu á aðalfundi 1970 voru
    félagsmenn orðnir 150 talsins.
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}

    Fyrsti uppboðsfundur MÍ var haldinn síðla árs 1970, eingöngu ætlaður félagsmönnum, og
    hefur það fyrirkomulag haldist óbreytt síðan. Sama ár gekk félagið í American Numasmatic
    Association (ANA). Félagsmenn voru orðnir rúmlega 170 talsins þegar haldinn var aðalfundur
    1971.
{% endblocktranslate %}</p>


<h2>{% translate "Fyrsta íslenska myntsýningin" %}</h2>

<p> {% blocktranslate trimmed%}

    Myntsafnarafélag Íslands hélt sýningu í apríl 1972 í Bogasal Þjóðminjasafns Íslands, í
    samstarfi við safnið, og var þess minnst að það ár var liðin hálf öld frá því að mynt var
    sérslegin fyrir Ísland. Þetta var fyrsta íslenska myntsýning sem haldin hafði verið hérlendis og
    því um merkilegan viðburð að ræða. Þar var sýnd íslensk og erlend mynt, íslenskir og
    erlendir seðlar, vörupeningar, einkagjaldmiðlar, heiðurs- og minningarpeningar og ýmislegt
    fleira. Eitt dagblaðanna sem flutti frétt um sýninguna benti á að þar mætti berja augum
    „ýmsa fáséða hluti, sem allur almenningur mun sjaldan, eða jafnvel aldrei, hafa séð fyrr.“
    Gefin var út vegleg sýningarskrá með greinum eftir m.a. Kristján Eldjárn, þáverandi forseta
    Íslands, Jóhannes Nordal, þáverandi Seðlabankastjóra, og Þór Magnússon, þáverandi
    þjóðminjavörð. Sýningin var fjölsótt og gerður að henni góður rómur. Var í þessu sambandi
    mjög hvatt til að Þjóðminjasafnið kæmi upp sérstakri sýningardeild fyrir íslenskar myntir og
    seðla.
{% endblocktranslate %}</p>
    

<h2>{% translate "Mikill kraftur og metnaður" %}</h2>

<p> {% blocktranslate trimmed%}

    Brátt var starfsemin komin í nokkurn fastan farveg: MÍ hélt fundi einu sinni í mánuði þar sem
    félagsmenn skiptust á seðlum og myntum, ræddu nýjar útgáfu o.s.frv., auk þess sem haldin
    voru reglulega uppboð. Stjórn félagsins annaðist líka innkaup á mynt fyrir félagsmenn frá
    erlendum myntsláttum og myntsölum.
{% endblocktranslate %}</p>
<p> {% blocktranslate trimmed%}

    Haustið 1973 var danski myntfræðingurinn Johan Chr. Holm fenginn til landsins á vegum
    félagsins og hélt hann tvo fyrirlestra í Norræna húsinu. Ólafur Tryggvason, læknir og félagi í
    MÍ, hélt einnig fyrirlestur á vegum félagsins síðar sama ár um flokkun og hreinsun myntar.
{% endblocktranslate %}</p>
    
<p> {% blocktranslate trimmed%}

    Þegar MÍ fagnaði 5 ára afmæli sínu árið 1974 voru gengnir í það um 250 félagar, flestir
    búsettir á Reykjavíkursvæðinu, fáeinir tugir frá landsbyggðinni og nokkrir voru búsettir
    erlendis. Félagið hélt þá orðið uppboðsfundi einu sinni í mánuði, oftast á laugardögum í
    kjallara Templarahallarinnar. Ragnar Borg, verslunarmaður og félagi í MÍ frá fyrstu tíð, var
    yfirleitt uppboðshaldari en Indriði og Anton Holt, myntfræðingur, hlupu í skarðið í fjarveru
    hans.
{% endblocktranslate %}</p>
<p> {% blocktranslate trimmed%}

    Snemma vors 1975 ákvað stjórn MÍ að efna til samkeppni um nýtt merki fyrir félagið, opna
    öllum og var verðlaunafé 10 þúsund krónur á þávirði. Var lögð áhersla á að merkið væri
    þannig úr garði gert að „merking þess glatist ekki þótt það sé minnkað eða stækkað.“
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}
    Hlutskarpastur var Árni Helgason, og var um svokallað leturmerki að ræða, þar sem
    fangamark félagsins – MÍ – var sett í grafískan búning í svarthvítu.
{% endblocktranslate %}</p>


<h2>{% translate "Myntfræðsla fyrir alla landsmenn" %}</h2>

<p> {% blocktranslate trimmed%}

    
    Um líkt leyti var Ragnar Borg fenginn til að skrifa sérstaka pistla um mynt- og seðlasöfnun í
    Morgunblaðið og var þar fastapenni nær samfleytt í um tvo áratugi. Þessir pistlar voru
    víðlesnir og vöktu athygli margra á þessu söfnunarsviði, og ekki að efa að skrif Ragnars hafi
    aukið nýliðun hjá félaginu. Hann birti þar oft fréttir af starfsemi félagsins og má telja ólíklegt
    að mörg önnur félög hafi haft jafn greiðan aðgang að íslenskum almenningi á þeim tíma með
    innanhúsmál sín.
{% endblocktranslate %}</p>
<p> {% blocktranslate trimmed%}

    Á þessum tíma ákvað stjórn Myntsafnarafélagsins að gera tilraun með svokallaðan
    skiptaklúbb: „Það er meiningin að menn geti hist þar einu sinni í mánuði, til að byrja með.
    Verða þar verðlistar, sem félaginu berast, svo og bækur úr bókasafni félagsins. Einnig geta
    menn komið þangað með mynt, sem þeir vilja láta í skiptum.“ Fyrsti klúbbfundurinn var
    haldinn í aprílbyrjun 1975, á annarri hæð á Rauðarárstíg 1, en þar komust fyrir tuttugu til
    þrjátíu manns. „Það má þá fá stærra húsnæði seinna, ef klúbburinn sprengir þetta húsnæði
    strax utanaf sér,“ sagði Ragnar Borg í grein í Morgunblaðinu og benti á um 90 manns hefðu
    mætt á seinasta fund MÍ.
{% endblocktranslate %}</p>


<h2>{% translate " Seilst til landsbyggðarinnar og blaðaútgáfa hefst " %}</h2>

<p> {% blocktranslate trimmed%}

    Um miðjan júní 1975 hélt MÍ, í samstarfi við Landssamband íslenzkra frímerkjasafnara,
    þriggja daga sýningu á seðlum, myntum og frímerkjum í Hagaskóla, sem fékk góða aðsókn.
    Félagið blés einnig til sýningar á Akureyri skömmu síðar, fyrst og fremst í þeim tilgangi að
    kynna íbúum utan höfuðborgarsvæðisins „myntsöfnun og það gildi og skemmtun sem hún
    getur veitt sem tómstundariðja.“ Fjölmargir Norðlendingar gengu í félagið í kjölfarið.
{% endblocktranslate %}</p>
<p> {% blocktranslate trimmed%}
    Þá var ákveðið 1976 að hefja útgáfu á blaðinu Mynt, sem skyldi innihalda „ýmsan fróðleik og
    leiðbeiningar um mynt, svo sem erindi sem flutt hafa verið á vegum félagsins ... Einnig
    leiðbeiningar um meðferð mynta, flokkun og hvað eina er til fellur hverju sinni.“ Kváðust
    stjórnarmenn vona að blaðið ætti eftir að dafna og flytja félagsmönnum fróðleik og
    ánægjulegt efni og það yrði opið öllum sem hefðu fram að færa efni sem ætti erindi til
    félagsmanna um mynt og aðra hliðstæða söfnun. Blaðið innihélt líka uppboðsskrá fyrir
    mánaðarlega uppboðsfundi félagsins og hefur komið út óslitið síðan. Lengst hafa setið sem
    ritstjórar í gegnum tíðina Tryggvi Ólafsson og Baldvin Halldórsson.
{% endblocktranslate %}</p>


<h2>{% translate "Uppboð í höll templara, fundir í húsi lækna" %}</h2>

<p> {% blocktranslate trimmed%}

    Haustið 1976 voru félagar í MÍ orðnir um 330 talsins. Ragnar Borg, þá formaður félagsins,
    skrifaði um starfsemi félagsins og sagði meðal annars: „Á undanförnum árum hefur stjórn
    Myntsafnarafélagsins gengist fyrir því, að erindi um myntfræðileg efni hafa verið flutt á
    fundum félagsins. Hafa bæði innlendir og erlendir áhuga og fræðimenn komið þarna fram.
    Áframhald verður á þessarri starfsemi í vetur. Verða meðal annars sýndar litskyggnur, sem
    keyptar hafa verið frá hinu þekkta enska myntfyrirtæki Seaby. Skýringar verða fluttar með
    myndunum, sem eru af þekktum peningum frá fornum tíma.“
{% endblocktranslate %}</p>
<p> {% blocktranslate trimmed%}

    Á þeim tíma voru tveir félagsfundir haldnir á vegum MÍ á mánuði. Einn laugardag í mánuði
    komu félagar saman í kjallara Templarahallarinnar við Eiríksgötu og seldu eða skiptust á
    mynt, seðlum, minnispeningum og öðrum safngripum, en fundurinn endaði síðan með
    uppboði. Einn fimmtudag i mánuði voru svo haldnir svokallaðir klúbbfundir í Domus Medica,
    sem voru mun óformlegri fundir, en þar sátu menn og ræddu söfnun yfir góðum kaffibolla,
    skoðuðu söfn hvers annars o.s.frv. Síðarnefndu fundirnir fengu annan samastað nokkrum
    árum síðar, í þremur herbergjum á Amtmannsstíg 2. Á aðalfundi MÍ árið 1977 voru félagar
    orðnir 350 talsins.
{% endblocktranslate %}</p>


<h2>{% translate "Silfrið brætt í afmælispening" %}</h2>

<p> {% blocktranslate trimmed%}

    Árið 1979 keypti félagið 390 silfurpeninga sem íslenska ólympíunefndin lét slá 1972 og 13
    peninga ólympíunefndar frá 1976, samtals um ellefu kíló, og voru þeir bræddir til að slá 10
    ára afmælisminnispeninga MÍ. Fyrirtækið Ís-Spor sló 150 slíka minnispeninga, eftir teikningu
    Sveins Ólafssonar myndskera.
{% endblocktranslate %}</p>
<p> {% blocktranslate trimmed%}

    Félagið efndi einnig til tíu ára afmælissýningar í Þjóðminjasafni Íslands sem þótti ágætlega
    heppnuð, en aðsóknin leið þó fyrir að ákaflega slæmt veður gekk yfir Reykjavík þá daga sem
    sýningin stóð. Fyrir vikið var tap á sýningunni og það liðu heil 18 ár áður en
    Myntsafnarafélagið lagði í að halda aftur sérstaka sýningu á eigin vegum.
{% endblocktranslate %}</p>


<h2>{% translate "„Sjarmerandi dama“ á meðal fyrstu heiðursfélaga" %}</h2>

<p> {% blocktranslate trimmed%}

    Fyrsti heiðursfélagi MÍ var kosinn Pétur Hoffmann Salómonsson, snemma árs 1977, og var
    hann eini heiðursfélagi félagsins næstu árin. Pétur seldi myntir í fjöldamarga áratugi og lét á
    árunum 1962-1968 slá pening með mynd af sér, úr kopar, silfri og gulli; Selsvaradalina
    svokölluðu, sem urðu eftirsóttir safngripir. Næstu heiðursfélagar voru kosnir árið 1982, þau
    Helgi Jónsson, skráður félagi númer eitt í MÍ, og Ella Einarsson. Þegar skýrt var frá valinu var
    m.a. sagt um Ellu: „Einn þeirra félagsmanna sem stuðlað hafa að því að gera fundina
    skemmtilegri er frú Ella Einarsson. Hún hefur verið öðrum til fyrirmyndar um mætingu, er
    lifandi og skemmtileg í viðræðum og tekur ósvikinn þátt í uppboðum. Það er hvert félag
    fullsæmt af því að hafa svo sjarmerandi dömu sem frú Ellu Einarsson í sínum röðum.“
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}

    Árið síðar var svo fyrsti erlendi heiðursfélaginn kjörinn, danski myntkaupmaðurinn og
    myntfræðingurinn Johann Chr. Holm áðurnefndur. Af öðrum erlendum gestum má nefna
    danska myntfræðinginn Jerry Mayer sem hélt fyrirlestur á vegum MÍ árið 1986, og kom
    tvívegis til Íslands næstu ár á eftir til að halda fræðsluerindi fyrir félagsmenn.
{% endblocktranslate %}</p>


<h2>{% translate "Félagið fær aðild að Norræna myntsambandinu" %}</h2>

<p> {% blocktranslate trimmed%}

    MÍ tók þátt í myntsýningu og markaði á Akureyri haustið 1982, í samstarfi við Félag
    frímerkjasafnara á Akureyri, og þótti viðburðinn takast mjög vel. Félaginu var síðan boðið í
    fyrsta skipti árið 1984 að taka þátt í Nordia-sýningunni, sem haldin var sama ár í
    Laugardalshöllinni. Fyrsti safnaramarkaður á vegum MÍ, opinn almenningi, var haldinn 1986 í
    samstarfi við Landssamband íslenzkra frímerkjasafnara, Félag frímerkjasafnara, Klúbb
    Skandínavíusafnara og kortasafnara. Þessi sameiginlegi markaður félaganna þótti fjörlegur
    og þátttakan og aðsóknin sýndi að fjölmargir landsmenn voru áhugasamir um söfnun, þó svo
    að þeir stæðu utan félaganna sem skipulögðu viðburðinn.
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}

    Myntsafnarafélag Íslands gerðist aðili að Norræna myntsambandinu árið 1983 og var í fyrsta
    skipti gestgjafi samnorræns fundar sambandsins í Reykjavík sumarið 1989. Vegna 20 ára
    afmælis félagsins það ár og í tilefni af fundi Norræna myntsambandsins lét MÍ slá
    minnispening úr bronsi. Einnig var nýtt merki félagsins tekið í notkun, teiknað af Þórunni
    Árnadóttur, en Sveinn Ólafsson hannaði leturgerð. Merkið sýnir nafn félagsins í bláum
    stöfum mynda nokkurs konar krans utan um heiðgræna, ögn stíliseraða teikningu af jurt
    þeirri sem kallast á víxl peningagras, peningablóm og lokasjóður, en heitið á rætur að rekja
    til að aldin blómsins er í lögun einsog peningur.
{% endblocktranslate %}</p>


<h2>{% translate "Nýjar höfuðstöðvar og öflugt starf" %}</h2>

<p> {% blocktranslate trimmed%}

    Árið 1990 sagði félagið upp húsakynnum sínum á Amtmannsstíg og fékk afnot af húsnæði
    Landssambands íslenzkra frímerkjasafnara í Síðumúla 17, og hefur það allar götur síðan verið
    meginaðsetur MÍ fyrir fundi sína, uppboð og safnaramarkaði. Upp úr miðjum 10. áratug var
    félagið líka öflugt í að halda fræðslufundi fyrir félagsmenn um margvísleg efni sem tengdust
    söfnun og voru þeir Anton Holt, Freyr Jóhannesson og Júlíus Arnórsson þar oftast í pontu, en
    ýmsir aðrir fyrirlesarar komu líka við sögu.
    
{% endblocktranslate %}</p>

<h2>{% translate "Sýningar endurspegla fjölbreytileikann" %}</h2>

<p> {% blocktranslate trimmed%}

    Eftir átján ára hlé á sýningarhaldi efndi félagið til metnaðarfullrar sýningar í Hafnarborg
    1997, sem þótti lukkast afar vel. Íslenskir gjaldmiðlar í 220 ár voru í forgrunni en fjölmargt
    annað var til sýnis sem hafði litlar tengingar við mynt- og seðlasöfnun. Má segja að þarna
    hafi félagið markað ákveðna stefnubreytingu með því að hampa þeim fjölbreytileika í söfnun
    sem finna mátti í röðum félagsmanna, í stað þess að leggja höfuðáherslu á mynt og seðla
    einsog gert hafði verið á fyrri sýningum. Þetta endurspeglaði vitaskuld að innan vébanda
    félagsins voru karlar og konur sem söfnuðu margvíslegu til viðbótar við gjaldmiðla, en einnig
    að margir félagsmenn söfnuðu alls ekki gjaldmiðlum heldur fjölmörgum öðrum
    forvitnilegum munum. Á þeim þremur áratugum sem Myntsafnarafélag Íslands hafði starfað
    hafði það „sprengt utan af sér nafnið“, ef svo má að orði komast, og var nú orðið víðfeðmur
    samastaður safnara óháð áherslum þeirra og áhuga á sviði söfnunar.
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}

    Þessi þróun birtist enn betur á næstu sýningu Myntsafnarafélags Íslands. Hún varð þó ekki
    að veruleika fyrr en fimmtán árum síðar, þrátt fyrir að sýningin í Hafnarborg þætti hafa
    gengið vonum framar. MÍ hélt sýningu á safngripum ellefu félagsmanna sinna í Norræna
    húsinu vorið 2012. Fyrir utan íslenska og seðla og mynt mátti sjá þar sjaldgæf skjöl og muni
    frá elsta Íslandsbanka, muni frá Íslandsheimsókn Friðriks 8. Danakonungs árið 1907, muni frá
    Alþingishátíðinni 1930 og lýðveldishátíðinni 1944, íslenska eldspýtnastokka, sígarettuhylki,
    sígarettupakka og kveikjara, svo fátt eitt sé nefnt. Fjölbreytnin var í fyrirrúmi og sýningin
    heppnaðist ákaflega vel.
{% endblocktranslate %}</p>

<h2>{% translate "Heimur söfnunar heillar enn" %}</h2>

<p> {% blocktranslate trimmed%}

    Þegar Myntsafnarafélag Íslands fagnaði 50 ára afmæli sínu, árið 2019, var síðan haldin
    metnaðarfull og vegleg sýning til að minnast þessara merku tímamóta. Þar mátti sjá ótal
    marga fágæta og ómetanlega muni úr ótal áttum. Sýningin, sem haldin var í sal Ferðafélags
    Íslands, fékk mikla umfjöllun og athygli og var gríðarvel sótt. Myntsafnarafélag Íslands sýndi
    það og sannaði að þrátt fyrir harða samkeppni í nútímanum um athygli almennings gat
    heimur söfnunar enn heillað unga sem aldna.
{% endblocktranslate %}</p>

<p> {% blocktranslate trimmed%}

    Starfsemi MÍ hefur á þeim árum sem liðin eru síðan stórafmælinu var fagnað verið með
    hefðbundnu sniði og í svipuðum anda og frumkvöðlar félagsins mótuðu á upphafsárunum.
    Mánaðarlegir uppboðsfundir fyrir félagsmenn, tíu mánuði á ári, eru þungamiðjan í umsýslu
    þess, ásamt útgáfu Mynt-blaðsins og tveimur safnaramörkuðum á ári, sem opnir eru
    almenningi og hafa notið vinsælda.
{% endblocktranslate %}</p>


<h2>{% translate "Griðarstaður safnara frá upphafi" %}</h2>
<p> {% blocktranslate trimmed%}
    Myntsafnarafélag Ísland hefur fyrir löngu skipað sér sess sem einn helsti vettvangur þeirra
    sem hafa áhuga og ástríðu fyrir markvissri söfnun hérlendis. Félagið er griðastaður þeirra
    karla og kvenna sem vilja rækta betur þekkingu sína á þessu sviði, skiptast á safngripum og
    upplýsingum um söfnun og umfram allt vera í góðum og upplífgandi samskiptum við aðra
    safnara. Helsta markmiðið er sem fyrr að efla og glæða áhuga landsmanna á söfnun, minna á
    gildi hennar og mikilvægi og koma á framfæri þeirri ánægju og skemmtun sem söfnun getur
    veitt fólki, óháð aldri, stétt eða stöðu. Þeir eiginleikar hafa staðist tímans tönn ótrúlega vel.
{% endblocktranslate %}</p>
    
{% endblock %}