{% extends "main.html" %}
{% load static%}
{% load i18n %}
{% block body %}
<h1>Seðlarnir í sögu Íslands</h1>
FREYR JÓHANNESSON 

<p>
    {% blocktranslate trimmed %}
    Seðlasafn Freys Jóhannessonar sem sýnt er á NORDIA 2023 spannar nær alla íslenska sela frá upphafi, 
    allt frá fyrstu útgáfu kúrantseðla til nýja 10 þúsund króna seðilsins sem nýlega er kominn út með undirskrift Ásgeirs Jóns-sonar seðlabankastjóra. 
    Einu seðlarnir sem ekki eru á sýningunni bera númerið P#A2 og voru gefnir út 1778 og 1779 og gilda 5 kúrantdali. 
    Slíka seðla má sjá myntsafni Seðlabanka Íslands en ekki er vitað um nein eintök í eigu einkaaðila. 
    {% endblocktranslate%}
</p>

<p>
    {% blocktranslate trimmed %}

    Seðlarnir sem Danski seðlabankinn, sem hét Kúrantbankinn, gaf út á timabilinu 1777-1800 urðu verðlausir árið 1913, þegar bankinn varð gjaldþrota. 
    Í framhaldi af þvi gaf Ríkisbankinn, sem þá var stofnaður, út einn rfkisdalsseðil árið 1815, sem bar íslenska áletrun á bakhlið dansks seðils frá 1814.
    Íslensku kúrantseðlarnir voru einnig prentaðir á bakhlið danskra seðla á sama tíma. 
    Ríkisdalurinn íslenski var innleystur árið 1820 og frá þeim tíma og til 1886 voru danskir seðlar í notkun á Íslandi ásamt sleginni mynt.
    {% endblocktranslate%}
</p>


<h2>Landsbanki Íslands: Fjallkonan og konungar tveir </h2>
<p>
    {% blocktranslate trimmed %}
    Árið 1886 voru fyrstu íslensku seðlarnir gefnir út, 
    en þá var Landsbanki Íslands stofnaður og var stofnfé bankans seðlar sem Landssjóður gaf út að upphæð allt að 500 þúsund krónur á þávirði. 
    Í fjórðu grein bankalaganna sagði meðal annars að 
        „engum öðrum en Landssjóði er heimilt að gefa út bréfpeninga hér á landi. 
    Í bankanum má fá seðlunum skipt gegn öðrum seðlum, en gegn smápeningum eftir því sem tök eru á".
    {% endblocktranslate%}
</p>

<p>
    {% blocktranslate trimmed %}
    Seðlarnir voru hannaðir og prentaðir í Danmörku. Þeir báru mynd af Kristjáni 9. Danakonungi á framhlið, en bakhlið 5 kr. og 10 kr. seðlanna var auð. 
    Á bakhlið 50 kr. seðilsins var hins vegar mynd af „fjallkonunni". Aðeins er vitað um eitt eintak af 50 krónu seðlinum í einkaeigu hér á landi. 
    Útlit og gerð seðlanna var samkvæmt konungsúrskurði útgefnum 20. maí 1886, sem hljóðaði svo: 
    {% endblocktranslate%}
</p>

<blockquote>
    {% blocktranslate trimmed %}
    Bókstafirnir I. L. eru vatnsmerktir í pappírinn sem seðlarnir eru prentaðir á. 
    Á báðum minni hliðum hvers seðils er pappírsröndin óskorin og brúnin þvi ójöfn. 
    Framan á hverjum seðli vinstra megin er brjóstmynd hans hátignar konungsins; 
    þar er og prentað með svörtu letri á íslensku gildi seðlanna, og er talan tilfærð með bókstöfum. 
    Fyrir neðan standa með svörtu letri orðin: „Gefinn út samkvæmt lögum 18. septbr. 1855. Fyrir landsjóð íslands", 
    og hér ritar landshöfðinginn yfir Islandi nafn sitt undir. Einn af embættismönnum bankans ritar og nafn sitt á hvern seðil. 
    Talan sem sýnir gildi hvers seðils er prentuð efst á honum og í horninu hægra megin. 
    Liturinn á þessum tölum og á ýmsu skrauti er á seðlunum finnst, svo og grunnlitur seðlanna, 
    er brúnn á 50 króna seðlunum, blár á 10 króna seðlunum og grár á 5 króna seðlunum. Aftan á 10 og 5 króna seðlana er ekkert prentað;
    en aftan á 50 króna seðlunum er kvennmannsmynd og talan 50 prentuð til beggja hliða innan skrautgjörð. 
    Á hverjum seðli er loks sett raðartala hans á tveimur stöðum.
    {% endblocktranslate%}
</blockquote>


<p>
    {% blocktranslate trimmed %}
    Um miðjan júlí 1886 var búið að lána um 40 þúsund krónur á þávirði af seðlaeign Landsbanka Íslands 
    en fyrir lágu hins vegar lánaumsóknir um fimmfalt hærri upphæð. 
    Þá var aðeins buið að taka 10 krónu seðlana í gagnið en þrjátíu þúsund eintök höfðu komið af þeim með póstskipi til landsins, 
    þ.e. 300 þúsund krónur af þeim 500 þúsund sem bankinn mátti hafa í fórum sínum. 
    Ástæðan fyrir því var sögð að landshöfðinginn og bankastjórarnir, sem þurftu að undirrita seðlana, 
    höfðu ekki haft tíma til að sinna því verki sem skyldi vegna annríkis á öðrum vettvangi, 
    m.a. við landsstjórn og þingstörf. Sagt var að í fullum afsköstum næðu þeir aðeins að undirrita eittþúsund seðla á dag.
    Þessi flöskuháls var áfram til staðar og ári eftir að bankinn tók til starfa var sagt að erfitt hefði verið að fá lán seinustu vikur 
    á undan því að ekki væru til nægjanlega margir undirritaðir seðlar.
    {% endblocktranslate%}
</p>

<p>
    {% blocktranslate trimmed %}
    Seðlar Landsbanka Íslands voru innkallaðir 1909. 
    Önnur útgáfa Landssjóðs var sett í umferð þann 25. júlí árið 1907 og var sérstök að því leyti að 5 kr. og 10 kr. seðlarnir báru mynd af Kristjáni 9. konungi á framhliðinni en á 50 kr. seðlinum var hins vegar mynd af Friðriki 8. konungi. 
    Athyglisvert er að allir íslenskir seðlar til ársins 1920 báru mynd af Danakonungum en á dönskum seðlum var aldrei, fyrr eða síðar, notuð mynd af konungum Danmerkur. 
    Meðal safnara eru einungis þekkt tvö ógötuð eintök af 50 króna seðlinum frá 1907 og er hann að öllum likindum sjaldgæfasti íslenski seðill sögunnar þegar á heildina er litið. 
    Þó er sjaldgæfasti íslenski seðillinn í þessu safni sem sýnt er hér á Nordia 2023 án efa 10 kr. seðill af þriðju útgáfu Landssjóðs með sex litlum tölum í „kontrolnúmerinu" (raðarnúmerinu) og handskrifaðri undirskrift. 
    Aðeins er vitað um eitt eintak af bessum seðli í einkaeign. 
    {% endblocktranslate%}
</p>


<h2> {% trans "Íslandsbanki: Erfitt að stæla og falsa" %}</h2>
<img src="{% static 'images/MyntsafnarafelagidSedlasaga.jpg' %}">

<p>

    {% blocktranslate trimmed %}
    Árið 1902 var heimilað með lögum stofnun hlutafélagsbanka á Íslandi, en bakhjarlar hans voru aðallega erlendir fiárfestar. 
    Samkvæmt þeim lögum var Íslandsbanki stofnaður árið 1904. Fyrsta lýsing á verðandi seðlaútgafu má finna í mars 1904, 
    en þa var greint frá því í danska blaðinu Dannebrog að konungur hefði samþykkt tjllögur 1slandsráðherrans Alberti um útlit seðlanna, 
    skömmu áður en ráðherrann lét af störfum: 
    {% endblocktranslate%}
</p>

<blockquote>
    {% blocktranslate trimmed %}
    Eftir ákaflega snarpa samkeppni var tilbúningur seðlanna falinn L. Levison junr. í Kaupmannahöfn sem umboðsmanni hinnar alkunnu listastofnunar Giesecke & Devrient í Leipzig. 
    Það sem þar réð úrslitum aðallega var að þeir Giesecke & Devrient veittu svo örugga tryggingu, sem framast er hugsanleg, fyrir því, að ekki verði auðið að stæla eftir seðlunum. 
    Þeir kváðu hafa búið til svo hundruðum miljarða skiptir af bankaseðlum handa ýmsum ríkjum baeði hér í álfu og annarsstaðar, og enginn seðill frá þeim verið falsaður nokkurn tíma; 
    en svo vel segja menn að naumast muni tekist hafa nokkurri seðlaprentsmiðju. Það verður eftir þessu lítt hugsanlegt að hlutabankaseðlarnir geti orðið falsaðir. 
    Allar hugsanlegar varnðarreglur eru viðhafðar. Meðal annars eru seðlarnir svo gerðir að ekki er hægt að gera af þeim ljósmyndir, og guilloche-vélar þær, 
    sem hafðar eru til að prenta þa, eru ákaflega dýrar, og tilbúnar eingöngu fyrir þá Giesche & Devrient. Þetta er allt miður anægjulegt fyrir seðlafalsarana. 
    En öllum öðrum kemur það vel að svona tryggilega er um það búið að aldrei verði á gangi nema ófalsaðir íslenskir seðlar, — ekki síst vegna hinna tíðu peningafalsana nú upp á síðkastið.
    {% endblocktranslate%}
</blockquote>
<img src="{% static 'images/MyntsafnarafelagidSedill10B020 (2).jpg' %}">

<p>
    {% blocktranslate trimmed %}
    Ákveðið var að fyrsta seðlautgafan næmi 10 miljónum, í 5, 10, 50 og 100 króna seðlum. 
    Mynd konungs yrði á öllum seðlunum, og á hinum stærri þar að auki mynd af Heklu og Geysi; 
    en ekki var talið pláss fyrir bær myndir á minni seðlunum. 
    Aftan á þeim öllum væri mynd af fálkanum íslenska: 
    „Loks verða þeir allir prýddir ríkulega haglega gerðum, hringlöguðum sveiflum. Þær eru nefndar guillocher á útlenskri tungu. 
    Vatnsmerkið I. B. (þ. e. Íslands banki) verður haft í pappírnum, sem seðlarnir eru prentaðir á; 
    stafirnir dökkir, en hvítir í röndina." 
    Akureyska fréttablaðið Norðurland lýsti yfir ánægju með hönnunina en sló þó þann varnagla að 
    „vonandi að seðlar þessir verði laglegri og hreinlegri að gerð en nýju frímerkin". 
    {% endblocktranslate%}
</p>


<p>
    {% blocktranslate trimmed %}
    Bankinn tók til starfa í júní það ár og var veittur réttur til 3o ára til að gefa út gulltryggða seðla. 
    Gulltryggingin var fyrst 1/4 en síðan 3/4 af seðlum í umferð. 
    Segja má að þar með hafi Íslandsbanki verið ígildi seðlabanka á Íslandi allt til ársins 1927, þegar Landsbanki Íslands tók við þvi hlutverki.  
    {% endblocktranslate%}
</p>
<img src="{% static 'images/Myntsafnarafelagidsedill2.jpg' %}">
<p>
    {% blocktranslate trimmed %}
    Sama dag og Íslandbanki tók til starfa, 7. júni 1904, setti hann fjórar tegundir seðla í umferð - 5 kr., 10 kr., 50 kr. og 100 kr. 
    {% endblocktranslate%}
</p>

<p>    
    {% blocktranslate trimmed %}
    Fyrsta seðlaútgáfa Islandsbanka nam tíu milljónum króna, en bankinn mátti þó ekki hafa nema fjórðung þeirrar upphæðar í umferð í einu. 
    Kostnaðurinn við að hanna og prenta seðlanna hjá Giesecke & Devrient nam um 50 þúsund krónum á þávirði, 
    sem þótti svo há upphæð að hentugra og hagkvæmara var að búa til mikinn forða í einu 
    og innkalla siðan þá seðla sem urðu slitnir og ónýtir og skipta út fyrir nýja eftir þörfum. 
    Þess má geta til gamans að fyrirtækið Giesecke & Devrient er enn rekstri og annast m.a. seðlaprentun fyrir ýmis þjóðlönd. 
    {% endblocktranslate%}
</p>

<p>
    {% blocktranslate trimmed %}
    Seðlarnir voru mjög vandaðir að allri gerð á þeirra tíma mælikvarða og mæltust strax vel fyrir hjá landsmönnum. 
    Margir flýttu sér að skipta Landsbankaseðlum sem þeir áttu í fórum sínum fyrir Íslandsbankaseðla. 
    Aðeins tíu dögum eftir að bankinn hóf starfsemi skrifaði reykvíska fréttablaðið Bjarki að 
    „seðlar hlutabankans eru nú komnir á flakk hér um bæinn og eru þeir mjög vandaðir að gerð, fallegir og pappírinn sterkur"
    Þegar mánuðirnir liðu og meiri reynsla var komin á seðlana ríkti enn ánægja með seðlautgáfuna sem fyrr, 
    jafnvel borið saman við erlenda seðla, og sagði t.d. einn greinaritari þá um haustið að 
    „allir vita að hlutabankaseðlarnir eru engu miður tryggðir en danskir seðlar, 
    auk þess sem þeir eru ekki einungis jafnvel gerðir, 
    heldur miklu betur, — miklu meiri vandi að stæla eftir þeim, falsa þá". 
    Seðlarnir voru gjaldgengir hérlendis allt til ársins 1940. 
    {% endblocktranslate%}
</p>
<img src="{% static 'images/Myntsafnarafelagidsedill4.jpg' %}">
   
<p>
    {% blocktranslate trimmed %}
    Árið 1919 myndaðist skortur á seðlum Íslandsbanka og tóku stjórnendur hans til bragðs, með leyfi atvinnu- og samgöngu-máladeildar Stjórnarráðsins, 
    að yfirprenta 5 kr. seðil af fyrstu útgáfu Landssjóðs með 100 kr. verðgildi. Þetta var að mörgu leyti hentugt þar sem bakhlið 5 kr. seðilsins var auð, 
    en allur texti á framhlið hans var yfirprentaður. Alls voru gefnir út 15.000 slíkir seðlar og voru þeir í gildi og gangi allt þangað til þeir voru innkallaðir einsog aðrir seðlar Íslandsbanka árið 1940. 
    Árið eftir, þ.e. 1920, gaf Íslandsbanki út 5 kr. og 10 kr. seðla sem voru hannaðir og prentaðir í Þýskalandi einsog eldri seðlar bankans. 
    Þegar Íslandsbanki varð gjaldþrota árið 1.930 yfirtók Landsbanki Íslands alla seðla Íslandsbanka. 
    {% endblocktranslate%}
</p>


<h2> Nýir bankar, nýir tímar </h2> 
<p>

    {% blocktranslate trimmed %}
    Vegna skorts á skiptimynt hérlendis voru gefnir út krónuseðlar árið 1920 og var þeirri útgáfu haldið áfram til 1925, en árið 1922 voru slegnar 10 aura og 25 aura myntir. 
    Allt til ársins 1926 voru önnur verðgildi slegin, þar af 1 krónu peningur árið 1925.
    {% endblocktranslate%}
</p>

<p>

    {% blocktranslate trimmed %}
    Árið 1.925 gaf Landssjóður út 5 kr., 10 kr. og 5o kr. seðla sem fóru í umferð sama ár. 
    Útlit þeirra var mjög áþekkt seðlum þriðju útgáfu Landssjóðs, og sömuleiðis seðlar í fyrstu útgáfu Landsbankans, 
    sem settir voru í umferð á árunu 1929-1931. Þá var einnig gefinn út 100 krónu seðill samkvæmt lögum frá 1927, en sá fór umferð árið 1.929. 
    Þar með var lokið útgáfu seðla sem voru hannaðir og prentaðir í Danmörku og Íslandi, og seðlar sem voru hannaðir á Íslandi og Englandi tóku við, 
    en í siðastnefnda landinu voru íslenskir seðlar prentaðir allt fram yfir aldamótin 2000. 
    {% endblocktranslate%}
</p>

<p>
    {% blocktranslate trimmed %}
    Landsbanki Islands-Seðlabankinn var stofnaður með lögum árið 1957 og gaf út seðla sem voru settir í umferð árið 1960. 
    Í maí það ár fóru í umferð 5 kr., 10 kr., 25 kr., 1oo kr. og 1000 kr. seðlar. Seðlabanki Íslands var gerður að sjálfstæðri stofnun 
    árið 1960 og hóf starfsemi sína formlega í apríl það ár. Seðlar í fyrstu útgáfu Seðlabanka Íslands voru settir í umferð á árunum 1963-1971. 
    Lög um Seðlabanka islands hafa tekið nokkrum breytingum síðan frá stofnun, siðast núna árið 2023.  
    {% endblocktranslate%}
</p>
<img src="{% static 'images/Myntsafnarafelagidsedill.jpg' %}">
<p>
    {% blocktranslate trimmed %}
    Algjör tæknibylting hefur orðið á prentun seðla á umræddu tímabili, frá lokum 18. aldar og til ársins 2023. 
    Hver framtíð íslenskra seðla verður er vitaskuld óráðið, en ljóst að næstum 250 ára saga þeirra er gríðarlega áhugaverð og hönnun þeirra í gegnum tíðina geymir ómælda fegurð og ígrundun. 
    {% endblocktranslate%}
</p>


Freyr Jóhannesson 

{% endblock %}