{% load static %}


<div class="menu-burger">
  <input type="checkbox" />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-menu-2"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <line x1="4" y1="6" x2="20" y2="6" />
    <line x1="4" y1="12" x2="20" y2="12" />
    <line x1="4" y1="18" x2="20" y2="18" />
  </svg>
  <ul class="menu-burger__item-list">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
</div>
<!--
<button id="sidebar-button" class="sidebar-button" onclick="toggleSidebar()">
    sidebar-button
</button>
<div id="sidebar" class="sidebar-container">
    <a href="/tilgangur">
    <div class="sidebar-link">
            Tilgangur Félagsins
        </div>
    </a>
    <a href="/uppbod">
    <div class="sidebar-link">
            Uppboðsmarkaður
        </div>
    </a>
    <a href="/umsokn">
    <div class="sidebar-link">
            Umsókn
        </div>
    </a>
    <a href="/hlekkir">
    <div class="sidebar-link">
            Hlekkir
        </div>
    </a>
    <a href="/">
    <div class="sidebar-link" href = "/">
            Heim
        </div>
    </a>
</div>-->
