{% load static %}




<div class="menu-burger sidebar-container">
  <input type="checkbox" />
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-menu-2"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <line x1="4" y1="6" x2="20" y2="6" />
    <line x1="4" y1="12" x2="20" y2="12" />
    <line x1="4" y1="18" x2="20" y2="18" />
  </svg>
  <ul class="menu-burger__item-list navlinks">
    <li><a href="#">Um Félagið</a></li>
    <li><a href="#">Saga Félagsins</a></li>
    <li><a href="news">Fréttir</a></li>
    <li><a href="tenglar">Ýmsir Tenglar</a></li>
    <li><a href="#">Saga Íslenskra Gjaldmiðla</a></li>
  </ul>
</div>
